@model SpeseListViewModel
<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["Title"] <a class="btn btn-outline-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i> Crea nuova spesa</a></h1>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">Descrizione</div>
    <div class="col-md-2">Importo</div>
    <div class="col-md-3"></div>
</div>

@foreach(SpeseViewModel spese in Model.Spese.Results)
{
<hr>
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-3">
        <h6>@Html.Raw(@spese.Descrizione.ToString())</h6>
    </div>
    <div class="col-md-3">
        <h6>@Html.Raw(@spese.Importo.ToString()) @Html.Raw(@spese.Valuta.ToString())</h6>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>
}
<hr>
<p>Trovati @Html.Raw(@Model.Spese.TotalCount.ToString()) risultati</p>

@{
    int totalPages = (int) Math.Ceiling(Model.Spese.TotalCount / (decimal) Model.Input.Limit);
    int currentPage = Model.Input.Page;
}
<nav aria-label="Paginazione">
    <ul class="pagination d-flex justify-content-center mt-3">
        @if(currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(currentPage-1)"><i class="fas fa-angle-left"></i></a>
            </li>   
        }
        @for(int p = Math.Max(1, currentPage-4); p <= Math.Min(totalPages, currentPage+4); p++)
        {
            if (p == currentPage)
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-route-page="@p">@p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@p">@p</a>
                </li>
            }
        }
        @if(currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(currentPage+1)"><i class="fas fa-angle-right"></i></a>
            </li>   
        }
    </ul>
</nav>